// Body
$body-bg: #f6faff;



// Colors
$blue: #a4d0f5;
$indigo: #b8c3ff;
$purple: #cdaefc;
$pink: #fabacf;
$red: #ff8d89;
$orange: #ffc284;
$yellow: #faf098;
$green: #c8ffdf;
$teal: #b9e9e4;
$cyan: #b3dafa;
